div.agenda-section {
    padding: 0px 50px;
    @media screen and (max-width: 992px) {
        padding: 0;

        .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
            display: flex;
            flex-direction: column-reverse;
            font-size: 12px;
            > div {
                margin-bottom: 10px;
            }
        }
    }
    .modal-header, .modal-body {
        @media screen and (max-width: 992px) {
            font-size: 1em !important;
            h5{
                font-size: 1em !important;
            }
        }
    }
    .agenda-ctn {
        margin-top: 20px;
    }
    button.close {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }
    .fc-toolbar-title {
        text-transform: uppercase;
    }
    /* Fondo oscuro (overlay) */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad */
        z-index: 1040; /* Asegúrate de que el overlay quede detrás del modal */
    }

    /* Para que el modal aparezca encima de la capa oscura */
    .modal-dialog {
        z-index: 1050; /* Modal debe aparecer por encima de la superposición */
    }
    .estado-enModal{
        display: inline-flex;
        text-transform: capitalize;
        border: 1px solid black;
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: bold;
        &.confirmada{
            border-color: #097b18de;
            background-color: #00ab1763;
        }
        &.realizada{
            border-color: #11097bde;
            background-color: #1408bc4d;
        }
        &.no_realizada{
            border-color: #e87000de;
            background-color: #e8700079;
        }
    }
    .wpp-btn:hover {
        & ~ .display-on-hover {
            display: block;
            position: absolute;
            width: 170px;
            top: -35px;
            left: -15px;
            z-index: 10;
            background-color: #097b18de;
            border-radius: 5px;
            padding: 5px;
            padding-bottom: 10px;
            color: #fff;
            clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 45% 86%, 38% 100%, 31% 86%, 0% 86%);
        }
    }
}
