.body-ctn {
    padding: 40px 20px;
    @media screen and (min-width: 800px) {
        width: 60vw;
        margin: 0 auto;
    }
    .misTurnos-btn {
        padding: 0;
        text-decoration: underline;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .Reservas {
        padding: 0;
    }
}

.custom-modal-header {
    background-color: #f8d7da;
    border-bottom: 2px solid #dc3545;
}

.modal-title-custom {
    font-weight: bold;
    color: #dc3545;
}

.modal-body-custom {
    padding: 20px;
    text-align: center;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-message {
    font-size: 1.1rem;
    color: #343a40;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.confirm-btn,
.cancel-btn {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
}

.confirm-btn {
    background-color: #dc3545;
    border: none;
}

.cancel-btn {
    background-color: #6c757d;
    border: none;
}

.cardd {
    width: 340px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
    margin-bottom: 20px;
    @media (min-width: 800px) {
        width: 100%;
    }
}

.cardd:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-header {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-footer {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px !important;
}

.card-body {
    font-size: 0.9rem;
}

.card-danger {
    border: 2px solid #dc3545;
    background-color: #f8d7da;
    color: #721c24;
}

.card-warning {
    border: 2px solid #ffc107;
    background-color: #fff3cd;
    color: #856404;
}

.card-success {
    border: 2px solid #28a745;
    background-color: #d4edda;
    color: #155724;
}

.card-secondary {
    border: 2px solid #6c757d;
    background-color: #e2e3e5;
    color: #383d41;
}
