@import "../../variables.scss";
.Reservas {
    h3,
    h4 {
        text-align: left;
        font-weight: 600;
        color: #333;
    }

    .table-ctn {
        border-radius: 20px;
        overflow-y: hidden;
        > div{
            scrollbar-color: rgb(183, 183, 183) white;
            scrollbar-width: thin;
        }

        &.mis-reservas {
            border-left: 5px solid #007bff; /* Lateral azul para destacar tus reservas */
            border-right: 5px solid #007bff; /* Lateral azul para destacar tus reservas */
        }
        &.reservas-gral {
            border-left: 5px solid #6c757d; /* Lateral gris para destacar reservas generales */
            border-right: 5px solid #6c757d; /* Lateral gris para destacar reservas generales */
        }
        &.reservas-pendientes {
            border-left: 5px solid $primary; /* Lateral gris para destacar reservas generales */
            border-right: 5px solid $primary; /* Lateral gris para destacar reservas generales */
        }
    }
    .table {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
            white-space: nowrap;
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
        }

        th {
            //background-color: #f8f9fa;
            //color: #495057;
            font-weight: 600;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        td {
            vertical-align: middle;
            &.confirmada {
                color: #28a745;
                font-weight: 600;
            }

            input[type="checkbox"] {
                height: 25px;
                width: 25px;
            }

            button {
                &.btn-confirmacion{
                    color: #28a745;
                    &:hover {
                        color: #fff;
                        background-color: #28a745;;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        cursor: pointer;
                    }
                }
                &.btn-cancelacion{
                    color: #f00;
                    &:hover {
                        color: #fff;
                        background-color: #f00 ;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        cursor: pointer;
                    }
                }
                background-color: #fff;
                border-radius: 50px;
                border: 0;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                width: 40px;
                height: 40px;
                transition: all 0.2s ease;
                color: #007bff;
                font-size: 22px;

                &:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                    color: #28a745;
                    cursor: pointer;
                }
            }
        }
    }

    /* Mensajes de "No hay reservas" */
    .no-reservas {
        text-align: center;
        font-size: 18px;
        color: #dc3545;
        font-weight: 500;
        margin-top: 20px;
    }
}
