@import "../../variables.scss";
.ctn-horarios {
    width: 100%;
    max-width: 580px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    h3 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .form-horario-atencion {
        select,
        label,
        input,
        button,
        p {
            font-size: 1em;
        }
        .heads {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;
            button {
                flex: 1;
                margin: 5px;
                padding: 10px;
                border: none;
                border-radius: 5px;
                background-color: #bbb;
                color: white;
                cursor: pointer;
                font-size: 0.98em;

                &.active,
                &:active,
                &:focus {
                    background-color: #f85b00;
                }
                &:focus {
                    outline: auto;
                }
                &:hover {
                    background-color: $primary;
                }
            }
        }

        .body {
            .horarios_detalle {
                max-height: 100px;
                overflow: hidden;
                opacity: 1;
                margin-bottom: 10px;

                &.activo {
                    max-height: 1000px; /* Suficientemente grande para expandir todo el contenido */
                    opacity: 1;
                }

                p {
                    font-size: 1em;
                    color: #555;
                    padding: 5px 0;
                    margin: 0;
                }
            }

            hr {
                border: none;
                border-top: 1px solid #ccc;
                margin: 15px 0;
            }

            .form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 10px;

                label {
                    display: block;
                    font-size: 1em;
                    margin-bottom: 5px;
                    color: #333;
                }

                .form-control,
                .form-select {
                    padding: 5px 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1em;
                    outline: none;
                    transition: border-color 0.3s ease;
                    width: 130px;
                    &:focus {
                        border-color: #f85b00;
                    }
                }
                select {
                    &#especialidad{
                        width: 200px;
                    }
                }

                .add-horario {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f85b00;
                    align-self: flex-end;
                    width: 45px;
                    height: 45px;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        background-color: #f85b00;
                    }
                }
            }
        }
    }
}
