.ctn-exito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #bbb;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    i{
        color: green;
        font-size: 3em;
    }
    p{
        font-size: 1.1em;
        font-weight: bold;
    }
    span{
        margin: 15px 0px;
    }
    a{
        text-decoration: underline;
        font-weight: bold;
    }
}