
    
  
    .horarios-container {
      width: 100%;
      max-width: 600px; /* Mantener tamaño máximo para evitar que crezca demasiado */
      display: flex;
      justify-content: center;
      align-items: center;
  
      .blur-image {
        width: 100%;
        height: 66vh;
        filter: blur(5px);
        object-fit: cover;
      }
  
      .horarios-text {
        position: absolute;
        color: white;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }
    }
  
  
  @media (max-width: 425px) {
    .horarios-container {
      max-width: 100%;
    }
  
    .blur-image {
      height: 50vh;
    }}
  