.inicio.container-fluid {
    padding: 40px 20px;
    @media screen and (min-width: 920px) {
        width: 60vw;
    }
}
.title {
    h1 {
        font-size: 1.5em;
    }
    div {
        display: flex;
        font-size: 0.8em;
    }
    .misTurnos-btn {
        background-color: #f2884c;
        color: white;
        border: 0;
        z-index: 10000;
    }
}
.misTurnos-btn{
    background-color:  #F2884C;
    color:white;
    border: 0;
    z-index: 10000;
}
