.container {
    @media (min-width: 920px) {
        max-width: 50vw !important;
        margin: 0 auto;
    }
    .info-ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #bbb;
        border-radius: 20px;
        padding: 30px 20px;
        @media (min-width: 920px) {
            font-size: 1.3em;
            input,
            button {
                font-size: 1em;
            }
            .texto-advertencia {
                font-size: 18px !important;
                margin-bottom: 10px;
            }
        }
        .ok-montoSenia {
            width: 30px;
            height: 30px;
            background-color: #085300;
            color: #fff;
            font-size: 18px;
            border-radius: 50px !important;
            margin-left: 10px !important    ;
            outline: none;
            border: none;
            &:active {
                background-color: #10a300;
            }
        }
        .danger{
            background-color: rgb(255, 201, 201);
            border: 2px solid rgb(189, 0, 0);
        }
        .monto-ctn {
            padding: 10px;
            background-color: #eee;
            border-radius: 10px;
            line-height: 1em;

            .monto {
                font-weight: bold;
                font-size: 1.2em;
            }
            .input-file {
                span {
                    display: block;
                }
            }
        }
        p {
            margin: 0;
        }
    }
}
