.header{
    background-color: #F2884C ;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 3px #bbb;
}
.logout-btn{
    background-color: white;
    color: #F2884C;
    border: 0;
    z-index: 10000;
}