.header{
    background-color: #F2884C ;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.logout-btn{
    background-color: white;
    color: #F2884C;
    border: 0;
}