@import "../../variables.scss";
.header {
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 3px #bbb;
    .logout-btn {
        background-color: white;
        color: #f85b00;
        border: 0;
        z-index: 10000;
    }
    nav.navbar {
        width: 100%;
        height: 60px !important;
        background-color: inherit;
        height: fit-content;
        box-shadow: 0 0 5px 0 #bbb;
        .offcanvas {
            max-width: 80%;
        }
        .navbar-brand{
            font-weight: bolder;
            color: #f85b00;
        }
        .menu {
            ul {
                padding: 0;
                li {
                    a,
                    button {
                        display: inline-block;
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                        text-align: left;
                        background-color: inherit;
                        border: 0;
                        color: #777;
                        text-decoration: none;
                        white-space: nowrap;
                        @media screen and (min-width: 992px) {
                            font-size: 1.2em;
                            color: $naranjaFuerte;
                            padding: 10px 20px;
                        }
                        &.active {
                            background-color: #f85b00;
                            border-radius: 10px;
                            color: #fff;
                            font-weight: bold;
                            @media screen and (min-width: 992px) {
                                background-color: $naranjaFuerte;
                                color: #fff;
                            }
                            &:hover {
                                color: #fff;
                                i {
                                    display: inline-block;
                                    animation: none;
                                }
                            }
                        }
                        &:hover {
                            color: #000;
                            i {
                                display: inline-block;
                                animation: swing 0.5s ease-in-out 1 alternate;
                            }
                        }
                        i {
                            margin-right: 15px;
                            @media screen and (min-width: 992px) {
                                margin-right: 5px;
                            }
                        }
                    }
                    &.logout {
                        margin-top: 30px;
                        @media screen and (min-width: 992px) {
                            margin-top: 0;
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}
